# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Temporary files
*.tmp
*.log
